* {
    font-family: "GeistMono Nerd Font" !important;
}

#workbench\.parts\.titlebar > div > div.titlebar-left > a {
    opacity: 0% !important;
}

.container > .title {
    opacity: 0 !important;
  }     

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center {
    visibility: hidden;
}
/*
.monaco-workbench .part.titlebar>.titlebar-container {
    color: #303446 !important;
}

.monaco-workbench .part.titlebar {
    background-color: #303446 !important;
}

.monaco-workbench .part.statusbar {
    background-color: #303446 !important;
}

* {
    --vscode-sideBar-background: #303446 !important;
    --vscode-sideBarTitle-background: #303446 !important;
    --vscode-sideBarSectionHeader-background: #303446 !important;
    --vscode-sideBarStickyScroller-background: #303446 !important;
}

.sidebar {
    background-color: #303446 !important;
}

canvas.decorationsOverviewRuler {
    background-color: #303446 !important;
}
*/
#workbench\.parts\.editor > div.content > div > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.editor-container > div > div > div.overflow-guard > div.monaco-scrollable-element.editor-scrollable.vs-dark > canvas {
    display: none !important;
}